<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIC</title>
</head>
<body style="padding: 0;margin: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#FAFAFA" width="100%" style="min-width:100%; background-color:#FAFAFA; height: 100%;">
    <tr valign="top">
        <td valign="top" class="tdprincipal" style="padding: 60px 0;">
            <table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="width: 600px; min-width: 600px;">
                <tbody class="mcnImageBlockOuter">
                <tr>
                    <td valign="top" style="padding: 20px 0 5px; width: 100%;" class="mcnImageBlockInner">
                        <table align="center" width="100%" border="0" cellpadding="10" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                            <tbody>
                            <tr>
                                <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                    <img align="center" alt="SIC" src="cid:logotipo" width="191" style="max-width:191px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="width: 600px; min-width: 600px;">
                <tbody>
                <tr>
                    <td style="padding: 20px 30px 10px; color: #666;">
                        <p>Nome: <b>{{iNome}}</b></p>
                        <p>Login: <b>{{iLogin}}</b></p>
                        <p>Senha: <b>{{senha}}</b></p>
                        <p><a href="https://www.sicoficial.com.br">Acesse aqui!</a></p>
                    </td>
                </tr>
                </tbody>
            </table>
            <table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="border-bottom: 2px solid #EEEEEE;padding-bottom: 20px; width: 600px; min-width: 600px;">
                <tbody>
                <tr>
                    <td valign="top" style="padding-top: 10px; padding-bottom: 20px; width: 100%;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td valign="top" align="center">
                                    © <script>
                                    document.write(new Date().getFullYear())
                                    </script> SIC - Todos os direitos reservados,
                                    feito com <i class="fa fa-heart"></i> por
                                    <a href="" class="font-weight-bold" target="_blank">Diego Lucio Farah Soares</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>

</html>